<footer>
    <table>
        <tbody>
            <tr>
                <td id="settings">
                    <input type="checkbox" id="animations" name="animations">
                    <label for="animations">animations</label>
                </td>
                <td id="information">
                    copywrite &copy; aroary
                </td>
                <td id="quote">
                    <i>If you have a problem feel free to fix it&trade;</i>
                </td>
            </tr>
        </tbody>
    </table>
</footer>