<footer>
    <table>
        <tbody class="desktop">
            <tr>
                <td id="settings"></td>
                <td id="information">copywrite &copy; aroary</td>
                <td id="quote"><i>If you have a problem feel free to fix it&trade;</i></td>
            </tr>
        </tbody>
        <tbody class="mobile">
            <tr id="settings"><td></td></tr>
            <tr id="information"><td>copywrite &copy; aroary</td></tr>
            <tr id="quote"><td><i>If you have a problem feel free to fix it&trade;</i></td></tr>
        </tbody>
    </table>
</footer>