<header>
    <table>
        <tbody>
            <tr>
                <td id="logo">
                    <a href="./home.html">
                        <img id="pfp" src="./media/pfp.png" alt="profile image">
                        <strong>aroary</strong>
                    </a>
                </td>
                <td id="navi">
                    <nav>
                        <ul>
                            <li><a href="./home.html">Home</a></li>
                            <li><a href="./contact.html">Contact</a></li>
                            <li><a href="./projects.html">Projects</a></li>
                        </ul>
                    </nav>
                </td>
                <td id="medi">
                    <a href="https://aroary.com/aroary/" target="_blank" rel="noopener noreferrer"><img src="./media/github-dark.png" alt="GitHub"></a>
                </td>
            </tr>
        </tbody>
    </table>
</header>