html { overflow-x: hidden; }
a { color: #2F97C1; text-decoration: none; }
a:hover { color: #2F57C1; }
body { background-color: aliceblue; color: black; font-family: Arial, Helvetica, sans-serif; margin: 0; padding: 0; }
body header { background-color: #040F0F; color: #2f97c1; width: 100%; padding: 10px; }
body header span { padding-left: 100px; font-size: 36px; vertical-align: top; }
body main { margin-left: 35%; margin-right: 35%; min-height: 1200px; }
body footer { background-color: #040F0F; color: #00F075; width: 100%; padding: 20px; }
body footer span { padding: 25px; font-size: 12px; }
.github-card { width: 100%; }