body {
    background-color: #99aab5;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
}
input, textarea {
    border: none;
    margin-top: 1px;
    margin-bottom: 1px;
    resize: vertical;
    text-align: left;
    width: 100%;
}
code {
    -webkit-user-select: all;
    -moz-user-select: all;
    -ms-user-select: all;
    user-select: all;
}
#name, #embedAuthor, #embedTitle, #embedColor { text-align: center; }
#embedData, #format { display: none; }
.about, ul { text-align: justify; }
h6 { text-align: right; }
