body {
    background-color: #99aab5;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
}
#name {
    text-align: center;
    width: 100%;
}
#content {
    text-align: left;
    width: 100%;
}
#url {
    text-align: left;
    width: 100%;
}