footer {
    background-color: var(--theme-color-bg);
    color: var(--theme-color-fg);
    -webkit-box-shadow: inset 0 8px 6px -6px var(--theme-color-fg);
	box-shadow: inset 0 8px 6px -6px var(--theme-color-fg);
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    padding: 10px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    display: none;
    vertical-align: top;
}

footer:hover {
    -webkit-box-shadow: inset 0 10px 6px -6px var(--theme-color-fg);
	box-shadow: inset 0 10px 6px -6px var(--theme-color-fg);
}

footer a {
    color: var(--theme-color-fg);
}

footer table {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

footer tr {
    vertical-align: top;
    width: 100%;
    height: 50px;
}

footer td {
    width: calc(100% / 3);
}

#settings {
    text-align: left;
}

#information {
    text-align: center;
    border-left: 1px solid var(--theme-color-fg);
    border-right: 1px solid var(--theme-color-fg);
}

#quote {
    text-align: right;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

footer a::after {
    content: var(--link);
    margin: 0px 3px 0px 5px;
}