footer {
    background-color: white;
    -webkit-box-shadow: inset 0 8px 6px -6px black;
	box-shadow: inset 0 8px 6px -6px black;
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    padding: 10px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    display: none;
    vertical-align: top;
}

footer:hover {
    -webkit-box-shadow: inset 0 10px 6px -6px black;
	box-shadow: inset 0 10px 6px -6px black;
}

footer table {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

footer tr {
    vertical-align: top;
    width: 100%;
    height: 50px;
}

footer td {
    width: calc(100% / 3);
}

#settings {
    text-align: left;
}

#information {
    text-align: center;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

#quote {
    text-align: right;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

footer a::after {
    content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
    margin: 0px 3px 0px 5px;
}