footer {
    background-color: white;
    -webkit-box-shadow: inset 0 8px 6px -6px black;
	box-shadow: inset 0 8px 6px -6px black;
    padding: 10px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    display: none;
    vertical-align: top;
}

footer:hover {
    -webkit-box-shadow: inset 0 10px 6px -6px black;
	box-shadow: inset 0 10px 6px -6px black;
}

footer > h5 {
    position: absolute;
    top: -5px;
    right: 20px;
    text-align: right;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}