@media only screen and (max-width: 500px) {
    #logo > a > h1 {
        display: none;
    }
}

header {
    background-color: white;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
	box-shadow: 0 8px 6px -6px black;
    padding: 10px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    text-align: center;
    white-space:nowrap ;
}

header > span {
    display: inline-block;
    width: 33%;
    height: 100%;
}

header img {
    vertical-align: middle;
    display: inline-block;
    height: 100%;
}

header a {
    text-decoration: none;
    color: black;
}

header h1 {
    line-height: 0;
    height: 0;
    display: inline-block;
}

#logo {
    text-align: left;
}

#logo img {
    border-radius: 50%;
}

#logo a:hover {
    border-radius: 25%;
}

#navigation > a {
    border-radius: 5%;
    padding-left: 2%;
    padding-right: 2%;
}

#navigation > a:hover {
    background-color: darkgrey;
}

#social {
    text-align: right;
}

header img:hover {
    background-color: darkgrey;
    border-radius: 25%;
}