@media only screen and (max-width: 700px) {
    #logo h1 {
        display: none;
    }
}

header {
    background-color: var(--theme-color-bg);
    color: var(--theme-color-fg);
    -webkit-box-shadow: 0 8px 6px -6px var(--theme-color-fg)black;
	box-shadow: 0 8px 6px -6px var(--theme-color-fg);
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    padding: 10px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
}

header:hover {
    -webkit-box-shadow: 0 10px 6px -6px var(--theme-color-fg);
	box-shadow: 0 10px 6px -6px var(--theme-color-fg);
}

header > table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

header img {
    filter: var(--theme-image-filter);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
    display: inline-block;
}

header a {
    text-decoration: none;
    color: var(--theme-color-fg);
}

header > table > tbody > tr > td {
    width: calc(100% / 3);
}

header nav ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

header nav a {
    border-radius: 5px;
    padding: 5px;
}

header nav ul > li {
    display: inline;
}

#logo {
    text-align: left;
}

#logo img:hover {
    border-radius: 25%;
}

#navi a:hover {
    background-color:  var(--theme-color-fg);
    color: var(--theme-color-bg);
    -webkit-box-shadow: 0 8px 6px -6px var(--theme-color-fg);
	box-shadow: 0 8px 6px -6px var(--theme-color-fg);
}

#medi {
    text-align: right;
}

#medi img:hover {
    background-color: var(--theme-color-fg);
    color: var(--theme-color-bg);
}

@media only screen and (max-width: 400px) {
    #logo, #medi {
        display: none;
    }
}