main {
    text-align: justify;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 10px;
    height: auto;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
}

main > div {
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
	box-shadow: 0 8px 6px -6px black;
}

main > div:hover {
    -webkit-box-shadow: 0 10px 6px -6px black;
    -moz-box-shadow: 0 10px 6px -6px black;
	box-shadow: 0 10px 6px -6px black;
}

main p {
    text-indent: 50px;
}

main img {
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
	box-shadow: 0 8px 6px -6px black;
    margin-top: 20px;
    margin-bottom: 20px;
}

main img:hover {
    -webkit-box-shadow: 0 10px 6px -6px black;
    -moz-box-shadow: 0 10px 6px -6px black;
	box-shadow: 0 10px 6px -6px black;
}

main code {
    background-color: rgba(0, 0, 0, 0.125);
    padding-left: 2px;
    padding-right: 2px;
    -webkit-user-select: all;
    -moz-user-select: all;
    -ms-user-select: all;
    user-select: all;
}