main {
    color: var(--theme-color-fg);
    text-align: justify;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 10px;
    height: auto;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    pointer-events: none;
}

main a {
    color: var(--theme-color-fg);
}

main button>a:hover {
    color: var(--theme-color-bg);
}

main div,
main table,
main img,
main button {
    border-radius: 5px;
}

main img {
    -webkit-box-shadow: 0 0 6px var(--theme-color-fg);
    box-shadow: 0 0 6px var(--theme-color-fg);
    margin-top: 20px;
    margin-bottom: 20px;
    pointer-events: none;
}

main img:hover {
    -webkit-box-shadow: 0 08px var(--theme-color-fg);
    box-shadow: 0 0 8px var(--theme-color-fg);
}

main button {
    border: 1px solid var(--theme-color-fg);
    background-color: var(--theme-color-bg);
    color: var(--theme-color-fg);
    -webkit-box-shadow: 0 0 6px var(--theme-color-fg);
    box-shadow: 0 0 6px var(--theme-color-fg);
    min-width: 100px;
    padding: 10px;
}

main button:hover {
    background-color: var(--theme-color-fg);
    color: var(--theme-color-bg);
    -webkit-box-shadow: inset 0 0 6px var(--theme-color-bg);
    box-shadow: inset 0 0 6px var(--theme-color-bg);
}

main code {
    background-color: rgba(0, 0, 0, 0.125);
    padding-left: 2px;
    padding-right: 2px;
    -webkit-user-select: all;
    -moz-user-select: all;
    -ms-user-select: all;
    user-select: all;
}

main a::after {
    content: var(--link);
    margin: 0px 3px 0px 5px;
}

main * {
    pointer-events: auto;
}

main table {
    width: 100%;
}