main {
    text-align: justify;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 10px;
    height: auto;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
}

main > div {
    background-color: white;
    border-radius: 5%;
    padding: 20px;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
	box-shadow: 0 8px 6px -6px black;
}

main img {
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
	box-shadow: 0 8px 6px -6px black;
}

main code {
    background-color: rgba(0, 0, 0, 0.25);
    -webkit-user-select: all;
    -moz-user-select: all;
    -ms-user-select: all;
    user-select: all;
}

main hr {
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
	box-shadow: 0 8px 6px -6px black;
}