.success {
    border: 1px solid #00ff00;
    border-radius: 10px;
    background-color: rgba(0, 255, 0, .1);
    padding: 10px;
}

.message {
    border: 1px solid #ff7f00;
    background-color: rgba(255, 127, 0, .1);
    border-radius: 10px;
    padding: 10px;
}

.fail {
    border: 1px solid #ff0000;
    border-radius: 10px;
    background-color: rgba(255, 0, 0, .1);
    padding: 10px;
}