body {
    background-color: #99aab5;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body > main {
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
}

main > p {
    text-align: left;
}

input, textarea {
    -moz-box-shadow: inset 0 0 6px black;
    -webkit-box-shadow: inset 0 0 6px black;
    box-shadow: inset 0 0 6px black;
    border: none;
    margin-top: 1px;
    margin-bottom: 1px;
    resize: vertical;
    text-align: left;
    width: 100%;
}