body {
    background-color: #99aab5;
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
}

header {
    background-color: white;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
	box-shadow: 0 8px 6px -6px black;
    padding: 10px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

header img {
    vertical-align: middle;
    display: inline-block;
    border-radius: 50%;
    height: 100%;
}

header > div {
    display: inline-block;
    text-align: center;
    width: 70%;
}

header > div > a {
    padding-left: 5%;
}