body {
    background-color: #99aab5;
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
}

main {
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
}

main > img {
    width: 50%;
}

main p {
    text-align: justify;
}

main h6 {
    text-align: right;
    padding: 10px;
}