body {
    background-color: var(--theme-color-bg);
    color: var(--theme-color-fg);
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    margin: 0;
}

main {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

main *:not(a){
    pointer-events: none;
}

main table {
    width: 100%;
}

main td {
    width: 50%;
}

main td>canvas {
    width: 100%;
}

main td img {
    width: 25%;
}

main button{
    margin: 10px;
}