body {
    background-color: white;
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
}

main {
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
}

main > div {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.project {
    background-color: white;
    border: 1px solid black;
    width: 400px;
    height: 500px;
    margin: 10px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

.project > div {
    padding: 20px;
}

.project p {
    text-align: left;
}

.project button {
    background-color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.project button:hover {
    background-color: white;
    border-radius: 5px;
    padding: 5px;
}

.project img {
    background-color: white;
    width: 100%;
}

.project:hover {
    -webkit-box-shadow: 0 0 10px black;
	box-shadow: 0 0 10px black;
}