body {
    background-color: var(--theme-color-bg);
    color: var(--theme-color-fg);
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    margin: 0;
}

main {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

main *:not(a){
    pointer-events: none;
}

main table {
    width: 100%;
}

main td {
    width: 50%;
}

main td img {
    width: 50%;
    -webkit-box-shadow: none;
    box-shadow: none;
}

main button{
    margin: 10px;
}

.icon,
.info {
    padding-left: 40px;
    padding-right: 40px;
}

.left .icon>h5 {
    float: left;
}

.right .icon>h5 {
    float: right;
}

.left .icon {
    text-align: right;
}

.right .icon {
    text-align: left;
}

@media screen and (max-width: 1200px) {
    .icon {
        display: none;
    }

    main table tr hr {
        display: none;
    }

    main table tr td {
        width: 100%;
    }
}