body {
    background-color: var(--theme-color-bg);
    color: var(--theme-color-fg);
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    margin: 0;
}

body>main {
    max-width: 600px;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#card {
    background-color: var(--theme-color-bg);
    border-radius: 25px;
    -webkit-box-shadow: 0 0 8px var(--theme-color-fg);
    box-shadow: 0 0 8px var(--theme-color-fg);
    font-family: 'Dancing Script', cursive;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 50px;
    padding-right: 50px;
}

#card:hover {
    -webkit-box-shadow: 0 0 10px var(--theme-color-fg);
    box-shadow: 0 0 10px var(--theme-color-fg);
}

#download {
    margin-top: 50px;
    margin-bottom: 50px;
}